# Xcode
DerivedData/
build/
xcuserdata/

# Artifacts
*.ipa
*.dSYM
*.dSYM.zip

# SwiftPM
.build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

